.container{
    background-color:beige;
    width: 500px;
    border:2px solid;
    padding-left: 2%;
    margin:10px;
    position: relative;
    border-radius: 5px;
}
img{
    width: 25%;
    float:left;
    margin:20px;
    border:2px;
}
h1{
    color: brown ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
padding-left: 10%;

}
input[type=text]:focus, input[type=password]:focus,input[type=radio]:focus,input[type=date]:focus,input[type=checkbox]:focus  {
    background-color: #ddd;
  }


 
  
  
  .registerbtn {
    background-color: #04AA6D;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 90%;
    opacity: 0.9;
  }
  .vermn{
    background-color: #ddd;
  }
  
  .registerbtn:hover {
    opacity:1;
  }
  table{
    background-origin: padding-box;
    padding-left: 10px;
  }




